<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 page-header home-banner">
			<h1>Con Planner 75</h1>
		</div>
	</div>

	<div class="row">

		<%# Convention List %>
		<div class="col-xs-12">
			<div class="panel panel-primary">

				<div class="panel-heading"><h4>My Conventions</h4></div>

				<table class="table">
					<tbody>
						<% @conventions.each do |c| %>
						<tr><td>
							<a href="/convention/<%= c.name %>/index"><%= c.name %></a> <%= c.description %>
							<div class="pull-right">
								<%= form_for c, url: { action: "delete", con_name: c.name } do |f| %>
								  <%= f.submit "Delete" %>
								<% end %>
							</div>
						</td></tr>
						<% end %>
					</tbody>
				</table>

			</div>
		</div>

	</div>
</div>
