<div class="container-fluid">

	<div class="row">

		<%# Convention List %>
		<div class="col-xs-12">
			<div class="panel panel-primary">

				<div class="panel-heading"><h4><b>All Conventions</b></h4></div>

				<table class="table">
					<tbody>

						<%# Loop through conventions, provide the name and description of each %>
						<% @conventions.each do |c| %>
							<tr><td>
									<% if is_organizer?(c.name) %>
									  <%# Render link to convention page for organizers %>
										<h4>
											<a href="/convention/<%= c.name %>/index"><%= c.name %></a>
											<small><%= c.description %></small>
										</h4>
									<% else %>
										<%# Give option to add convention to other users %>
										<h4 style="display:inline-block"><%= c.name %> <small><%= c.description %></small></h4>
										<div class="pull-right">
											<%= form_for c, url: { action: "add_organizer", con_name: c.name }, method: "post" do |f| %>
												<%= f.submit "Add" %>
											<% end %>
										</div>
									<% end %>
							</td></tr>
						<% end # convention loop %>

					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
