<ol class="breadcrumb">
	<li><a href="/convention/<%= params[:name] %>/index"><%= params[:name] %></a></li>
	<li class="active">Details</li>
</ol>

<div class="container-fluid">

	<%# Rooms %>
	<div class="row">
		<div class="col-xs-6">
			<ul class="list-group">
				<li class="list-group-item disabled">Rooms</li>
				<% @rooms.each do |r| %>
				<li class="list-group-item"><%= r.room_name %></li>
				<% end %>
			</ul>
		</div>

		<div class="col-xs-6">
			<form action="/convention/<%= params[:name] %>/rooms/add" method="post">
				<label for="room_name">Rooms to add</label><br>
				<textarea id="room_name" name="room_name"></textarea><br>
				<button type="submit" class="btn btn-default">Add rooms</button>
			</form>
		</div>

	</div>

	<%# Hosts %>
	<div class="row">
		<div class="col-xs-6">
			<ul class="list-group">
				<li class="list-group-item disabled">Hosts</li>
				<% @hosts.each do |h| %>
				<li class="list-group-item"><%= h.name %></li>
				<% end %>
		</div>

		<div class="col-xs-6">
			<form action="/convention/<%= params[:name] %>/hosts/add" method="post">
				<label for="host_name">Hosts to add</label><br>
				<textarea id="host_name" name="host_name"></textarea><br>
				<button type="submit" class="btn btn-default">Add hosts</button>
			</form>
		</div>

	</div>
</div>
