<%# Page to display convention details %>
<ol class="breadcrumb">
	<li><a href="/convention/<%= params[:con_name] %>"><%= params[:con_name] %></a></li>
	<li class="active">Details</li>
</ol>

<div class="container-fluid">
	<div class="row-fluid">

		<%# Description %>
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">Description</div>
				<div class="panel-body"><%= @convention.description %></div>
			</div>
		</div>

		<%# Location and time %>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">Location</div>
				<div class="panel-body"><%= @convention.location %></div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">Start Time</div>
				<div class="panel-body"><%= (@convention.start || DateTime.now).to_s(:details_display) %></div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">End Time</div>
				<div class="panel-body"><%= (@convention.end || DateTime.now).to_s(:details_display) %></div>
			</div>
		</div>

		<%# Schedule breaks %>
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">Breaks</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<tr><th>Start</th><th>End</th></tr>
						<% @breaks.each do |b| %>
							<tr>
								<td><%= b.start.to_s(:details_display) %></td>
								<td><%= b.end.to_s(:details_display) %></td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>

		<%# Rooms %>
		<div class="col-xs-6">
			<ul class="list-group">
				<li class="list-group-item disabled">Rooms</li>
				<% @rooms.each do |r| %>
					<li class="list-group-item"><%= r.room_name %></li>
				<% end %>
			</ul>
		</div>

		<%# Hosts %>
		<div class="col-xs-6">
			<ul class="list-group">
				<li class="list-group-item disabled">Hosts</li>
				<% @hosts.each do |h| %>
				  <li class="list-group-item"><%= h.name %></li>
				<% end %>
			</ul>
		</div>

	</div>

</div>
