<ol class="breadcrumb">
	<li><a href="/convention/<%= params[:con_name] %>/index"><%= params[:con_name] %></a></li>
	<li><a href="/convention/<%= params[:con_name] %>/index">Events</a></li>
	<li class="active">Add</li>
</ol>

<div class="container-fluid">
	<div class="row-fluid">
		<%= form_for @event, url: { action: "create"} do |f| %>
			<div class="form-group col-xs-4">
			  <%= label_tag(:name, "Event Name") %><br>
			  <%= f.text_field :name, class: "form-control" %><br>
			</div>
			<div class="form-group col-xs-4">
				<label for="host-name">Host Name</label>
				<select id="host-name" name="host_name" class="form-control">
					<%= @hosts.each do |h| %>
					  <option value="<%= h %>"><%= h %></option>
					<% end %>
				</select>
			</div>
			<div class="form-group col-xs-4">
				<%= label_tag(:length, "Length (in hours)") %><br>
				<%= f.number_field :length, class: "form-control", min: 0, value: 1 %><br>
			</div>
			<div class="form-group col-xs-12">
		  	<%= label_tag(:description, "Description") %><br>
		  	<%= f.text_area :description, class: "form-control" %><br>
			</div>
			<div class="pull-right">
		  	<button type="submit" class="btn cp75-colors">Add Event</button>
			</div>
		<% end %>
	</div>
</div>
