<ol class="breadcrumb">
	<li><a href="/convention/<%= params[:convention_name] %>/index"><%= params[:convention_name] %></a></li>
	<li>Events</li>
  <li class="active"><%= @event.name %></li>
</ol>

<%= form_for @event, url: { action: "edit_details" }, method: "post" do |f| %>
  <%= label_tag(:name, "Event Name") %><br>
  <%= f.text_field :name %><br>
  <%= label_tag(:host_name, "Host Name") %><br>
  <%= f.text_field :host_name %><br>
  <%= label_tag(:description, "Description") %><br>
  <%= f.text_area :description, size: "60x12" %><br>
	<%= label_tag(:length, "Length (in hours)") %><br>
	<%= f.number_field :length %><br>
  <%= f.submit "Edit Event" %>
<% end %>
