<ol class="breadcrumb">
	<li><a href="/convention/<%= params[:convention_name] %>/index"><%= params[:convention_name] %></a></li>
	<li class="active">Details</li>
</ol>

<div class="container">
	<div class="row-fluid">
		<div class="col-xs-12">
			<div class="well">
				<a href="/convention/<%= params[:convention_name] %>/events/add">Add event</a>
			</div>
		</div>
		<div class="col-xs-12">

			<% @events.each do |e| %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>
					  <%= e.name %>
						<div class="pull-right">
							<%= form_for e, url: { action: "remove", event_name: e.name } do |f| %>
								<%= f.submit "Delete" %>
							<% end %>
						</div>
						<div class="pull-right">
							<a href="/convention/<%= params[:convention_name] %>/events/<%= e.name %>/edit">Edit</a>
						</div>
					</h3>
				</div>
				<div class="panel-body">
					<p><b>Host:</b> <%= e.host_name %></p>
					<p><b>Description:</b> <%= e.description %></p>
				</div>
			</div>
			<% end %>

		</div>

	</div>
</div>
